<div class="main-menu">
    <img src="{{ asset('bundles/app/images/line.png') }}">
    <nav>
        <ul>
            <li class="active"><a href="{{ path('homepage') }}" class="active">ГЛАВНАЯ</a></li>
            <li><a href="{{ path('about') }}">О НАС</a></li>
            {#<li><a href="#">ГАЛЕРЕЯ</a></li>#}
            <li><a href="#">ПОРТФОЛИО</a></li>
            <li><a href="{{ path('contacts') }}">КОНТАКТЫ</a></li>
            <li><a href="{{ path('order') }}">СДЕЛАТЬ ЗАКАЗ</a></li>
        </ul>
    </nav>
</div>