{% set active = "class=active" %}
<div class="main-menu">
    {#<img src="{{ asset('bundles/app/images/line.png') }}">#}
    <nav>
        <div id="line"></div>
        <ul>
            <li {{ page == 'main' ? active }} ><a {{ page == 'main' ? active }} href="#main" id="mainpage">ГЛАВНАЯ</a></li>
            <li {{ page == 'about' ? active }}><a {{ page == 'about' ? active }} href="#about">О НАС</a></li>
            {#<li><a href="#">ГАЛЕРЕЯ</a></li>#}
            <li {{ page == 'portfolio' ? active }}><a {{ page == 'portfolio' ? active }} href="#portfolio">ПОРТФОЛИО</a></li>
            <li {{ page == 'contacts' ? active }}><a {{ page == 'contacts' ? active }} href="#contacts">КОНТАКТЫ</a></li>
            <li {{ page == 'order' ? active }}><a {{ page == 'order' ? active }} href="#order">СДЕЛАТЬ ЗАКАЗ</a></li>
        </ul>
    </nav>
</div>
