{% extends "@App/layout.html.twig" %}
{% block body %}
    <div class="container-fluid main2">
        <div class="contacts-box">
            <div class="main-menu">
                <img src="{{ asset('bundles/app/images/line.png') }}">
                <nav>
                    <ul>
                        <li><a href="{{ path('about') }}" class="active">О НАС</a></li>
                        <li><a href="#">ГАЛЕРЕЯ</a></li>
                        <li><a href="#">ПОРТФОЛИО</a></li>
                        <li><a href="{{ path('contacts') }}">КОНТАКТЫ</a></li>
                        <li><a href="{{ path('order') }}">СДЕЛАТЬ ЗАКАЗ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="about-body">
                <div class="about-text">
                    О нас<br />
                    Наша специализация — создание веб-проектов с нуля под ваши требования. Мы ведем разработку на
                    PHP (Symfony / Silex) и используем MySQL (Doctrine). Минимальный бюджет — 100 000 рублей,
                    срок выполнения — от 1 месяца.
                </div>
                <div class="about-image">
                    <img src="{{ asset('bundles/app/images/img_5.png') }}" id="share-btn">
                </div>
            </div>
        </div>
    </div>
{% endblock %}