<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/common.css') }}">
    <script src="{{ asset('bundles/app/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.smoothState.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/animate-color.js') }}"></script>
</head>

<body>
<div id="main">
    {{ include('AppBundle::menu.html.twig') }}
    <div class="container-fluid main">
        <div class="main-box">
            <div class="main-logo">
                <img src="{{ asset('bundles/app/images/logo.png') }}" id="logo" style="width: 120px;               ">
            </div>
        </div>
    </div>
    <div class="container-fluid main4" id="about">
        <div class="contacts-box">
            <div class="about-body">
                <div class="about-text">
                    О нас<br />
                    Наша специализация — создание веб-проектов с нуля под ваши требования. Мы ведем разработку на
                    PHP (Symfony / Silex) и используем MySQL (Doctrine). Минимальный бюджет — 100 000 рублей,
                    срок выполнения — от 1 месяца.
                </div>
                <div class="about-image">
                    <img src="{{ asset('bundles/app/images/img_5.png') }}" id="share-btn">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main5" id="portfolio">
        <div class="contacts-box">
            <div class="portfolio-body">
                <img src="{{ asset('bundles/app/images/test-min.png') }}">
            </div>
        </div>
    </div>
    <div class="container-fluid main2" id="order">
        <div class="contacts-box">
            <div class="order-box">
                <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line">
                <input type="text" class="form-control" placeholder="Ваше имя" name="name" required>
                <br />
                <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line">
                <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                <br />
                <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line">
                <input type="text" class="form-control" placeholder="Телефон" name="phone" id="phone" required>
                <br />
                <img src="{{ asset('bundles/app/images/input-line.png') }}" class="input-line" style="margin-top: 194px;">
                <textarea placeholder="Краткое описание " class="form-control" name="desc"></textarea>
                <br />
                <button class="btn btn-lg btn-green">Отправить</button>
            </div>
        </div>
    </div>
    <div class="container-fluid main3" id="contacts">
        <div class="contacts-box">
            <div class="contacts-body">
                <img src="{{ asset('bundles/app/images/img_3.png')}}" id="globus">
                <br />
                <br />
                <br />
                <div class="text-black">
                    MANAGER
                    <br />
                    <img class="black-line" src="{{ asset('bundles/app/images/black_line.png') }}"><br />
                    SKYPE: JENIKAKOLOMEEC<br />
                    PHONE: +7 (916) 105-15-20<br />
                    EMAIL: BHD.M@YA.RU<br />
                </div>
                <br />
                <div class="text-black">
                    DEVELOPER
                    <br />
                    <img class="black-line" src="{{ asset('bundles/app/images/black_line.png') }}"><br />
                    SKYPE: JENIKAKOLOMEEC<br />
                    PHONE: +7 (916) 105-15-20<br />
                    EMAIL: BHD.M@YA.RU<br />
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<script>
    $(document).ready(function(){

//        $('body').on('click','nav ul li a', function(){
//            if ($(this).attr('id') == 'mainpage'){
//                return true;
//            }
//            var url = $(this).attr('href');
//            $.ajax({
//                type: "POST",
//                url: url,
//                success: function(html){
//                    var displayY = $('body').css('height');
//                    $('#main').append(html);
//                    $('#main').animate({'marginTop': '-'+displayY}, function(){
//                        $('#main').children('div').eq(0).remove();
//                        $('#main').css('margin-top', '0');
//
//                        var x = $('ul li.active').position().left-15;
//                        var w = $('ul li.active').innerWidth();
//                        $('#line').stop().animate({'marginLeft': x, 'width': w},0);
//                        $('#line').css('display','block');
//                    });
//                }
//            });
//            return false;
//        });


        $("body").on("click","nav ul li a", function (event) {
            event.preventDefault();
            var id  = $(this).attr('href'),
                    top = $(id).offset().top;

            $('body,html').animate({scrollTop: top}, 1500);
        });



        window.onscroll = function() {
            console.log($(document).scrollTop());
            if ($(document).scrollTop() >= 100){
                $('.main-menu').css('position', 'fixed');
                $('nav ul li a').css('color','#FFF');
                $('.main-menu').stop().animate({
                    'top': '0',
                    'width': '100%',
                    'marginTop': '0',
                    'padding-top': '3px',
                    'color': '#FFF'
                },300,function(){
                    $('.main-menu').css('background', '#000');
                    $('#line').css('background', '#FFF');
                    $('nav ul li').css('border-top','1px solid #FFF');
                });
            }else{
                $('.main-menu').css('position', 'absolute');
                $('nav ul li a').css('color','#000');
                $('nav ul li').css('border-top','1px solid #333');
                $('.main-menu').css('background', 'none');
                $('#line').css('background', '#333');

                $('.main-menu').stop().animate({
                    'top': '400',
                    'marginTop': '30px',
                    'padding-top': '0'
                },300,function(){
                    console.log('5');
                });
            }
        }

        var abs = $('ul').position().left;
        var x = $('ul li.active').position().left-abs;
        var w = $('ul li.active').innerWidth();
        $('#line').stop().animate({'marginLeft': x, 'width': w},0);
        $('#line').css('display','block');

        $('body').on('mouseenter','nav ul li', function(){
            var x = $(this).position().left - abs;
            var w = $(this).innerWidth();
            $('#line').stop().animate({'marginLeft': x, 'width': w});
        });

        $('body').on('mouseleave','nav ul li', function(){
            $('#line').stop();
            var x = $('ul li.active').position().left - abs;
            var w = $('ul li.active').innerWidth();
            $('#line').stop().animate({'marginLeft': x, 'width': w});
        });

    });
</script>
</html>